<!DOCTYPE html>
<html>
  <head>
    <title>Everbrain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <script src="https://kit.fontawesome.com/e93199a89e.js" crossorigin="anonymous"></script>
  
   <script type="text/javascript">
      window.heroAppURL = "<%= image_url('hp_hero_note.png') %>";
      window.EnNavLogo = "<%= image_url('hp_elephant_logo.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
